<!DOCTYPE html>

    <head>
        <title>Calculator BIS</title>
	</head>

	<body align=center>
		<div class="row">
            <h1>CALCULATOR JENKINS YES</h1>
		</div>
        <br>
        <form action="/result" method="POST">
            <h3>1st Number</h3>
            <input type="number" name="entry1" id="entry1" autofocus>
        <br>
        <br>
            <h2>+</h2>
        <br>
        <br>
            <h3>2nd Number</h3>
            <input type="number" name="entry2" id="entry2">
        <br>
        <br>        
            <input type="submit" name="entry3" id="entry3" value="Result">
        <br>
        <br>
        </form>
	</body>
</html>